{
  "plugins": [
    [
      "transform-remove-console",
      {
        "exclude": ["error", "warn"]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
